@charset "UTF-8";

body{
    background-color: aqua;
}
main{
    background-color: rgb(221, 221, 221);
    border-radius: 30px;
    box-shadow: 5px 5px 15px #49b9b94f;
    width: 600px;  
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}
